.card{
    border: none;
    border-radius: 0px;
    width: 14rem;
}

.card-img{
    border-radius: 0px;
}

.title-link{
    text-decoration: none;
    color: var(--black);
}

.title-link:hover{
    color:black;
    text-shadow: 0px 1px 1px var(--green);
}

.category-link{
    text-decoration: none;
    color: var(--black);
}

.category-link:hover{
    color:black;
    text-shadow: 0px 1px 1px var(--green);
}