.footer-wrapper{
    background-color: var(--black);
}

.footer-wrapper *{
    color: var(--white);
}

.input-group{
    background-color: var(--white);
    border-radius: 50px;
}

.footer-input{
    border-radius: 50px 0px 0px 50px;
    border: none;
}

.footer-btn{
    font-weight: 500;
    border-radius: 0px 50px 50px 0px;
    padding: 5px 10px 5px 10px;
    color: var(--black);
    background-color: var(--yellow);
    transition: 0.05s;
}

.footer-btn:hover{
    color: var(--yellow);
    text-shadow: 1px 1px 1px var(--black);
    background-color: var(--white);
}