
.form .form-control{
    border-radius: 20px;
}

.form .form-control:focus {
    box-shadow: var(--yellow) 0px 0px 0px 1px;
}

.form .btn {
    border: none;
    font-weight: 500;
    border-radius: 30px;
    padding: 8px 25px 8px 25px;
    color: var(--black);
    background-color: var(--yellow);
    transition: 0.05s;
}

.form .btn:hover {
    color: var(--yellow);
    background-color: var(--black);
}

.form a {
    color: var(--black);
}

.form a:hover {
    text-shadow: 0px 1px 1px var(--yellow);
}