.heading{
    color: var(--white);
    text-shadow: 0px 0px 15px var(--black);
    height: 50vh;
    background-color: var(--black);
    background-image: url(../../storage/app/public/images/sfondo.svg);
    background-size: cover;
    background-position: center;
    padding-left: 5rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.heading h1{
    font-weight: bold;
    font-size: 50px;
}

.heading p{
    font-weight: lighter;
    font-style: italic;
    font-size: 22px;
}