.nav-wrapper{
    background-color: var(--black);
}

.navbar-nav{
    gap: 1rem;
    padding: 0.5rem 0rem
}

.navbar-toggler{
    color: var(--white);
}


nav .nav-link{
    color: var(--white);
    transition: 0s;
}

nav .nav-link:hover{
    color: var(--yellow);
    text-shadow: 1px 1px 1px var(--red);
}

nav .nav-link:focus{
    color: var(--yellow);
    text-shadow: 1px 1px 1px var(--red);
}

.dropdown-menu{
    padding: 0px;
}

.dropdown-item:hover{
    color: var(--yellow);
    text-shadow: 1px 1px 1px var(--red);
}

.dropdown-item:active{
    background-color: var(--black);
}

.navbar-toggler{
    border-radius: 30px;
    padding: 3px 10px 3px 10px;
}