.pagination{
    margin: 0px;
}

.page-item .page-link{
    border: 0px;
    padding: 3px 15px 3px 15px;
    color: var(--black);
    background-color: var(--white);
}

.page-item .page-link:hover{
    color: var(--black);
    background-color: var(--yellow);
}

.page-item.disabled .page-link{
    color: var(--white);
    background-color: var(--black);
}

.page-item.active .page-link{
    background-color: var(--yellow);
    color: var(--black);
    border: 0px;
}