*{
    font-family: 'Roboto', sans-serif;
}

:root{
    --black: #2A2D34;
    --green: #1B998B;
    --red: #D72638;
    --yellow: #F9E900;
    --white: #F7F0F0;
}

.announcement-heading{
    text-align: center;
    font-size: 3rem;
    margin-top: 5rem;
}

.announcement-container{
    margin: 10rem auto;
    max-width: 75vw;
    display: flex;
    flex-wrap: wrap;
    gap: 0rem 3rem;
    justify-content: center;
}